.git
.github
.mypy_cache
.pytest_cache
.ruff_cache
.tmp-ai-service-packaging
.tmp-ai-service-packaging-unpacked
__pycache__
build
dist
docker-build
htmlcov
javascript
node_modules
*.egg-info
*.pyc
*.s9pk
